/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/02/2015, 10:48:47
    Author     : Vicente
*/

.background {
    -fx-background-image: url("background.jpg");
    //-fx-background-repeat: round;
    
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#b8b8b8, #4a4a4a);
    -fx-font-size: 10pt;

    //-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


.button:pressed, .button:default:hover:pressed {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#4a4a4a, #b8b8b8);
}





